extends layout

block content
  .container
    // Content here
    .page
      h1 MAQE Forums
      h2 Subtitle
      h3 Posts
      .row.paper
        .col
          img.image(src='images/img1.jpg', alt='Image 1')
        .col-6
          .media-body
            h5.mt-0 Let's see this awsomepost!
            | I'm really glad to see this forums popular!
          .time
            i.far.fa-clock
            | 1 week ago
        .col
          img.rounded.avatar(src='images/avatar1.jpeg', alt='Avatar 1')
          .name Jason Bourne
          .title Registered user
          .location
            i.fas.fa-map-marker-alt
            |  New York
      .row.paper
        .col
          img.image(src='images/img2.jpg', alt='Image 2')
        .col-6
          .media-body
            h5.mt-0 When will the concert be held?
            | After day, don't sixth were divide creepeth living him
            | it heaven moveth of male man rule, made gathered cattle after,
            | For gathering place seed bearing called and let chall bly fruitful creeping
          .time
            i.far.fa-clock
            |  2 week ago
        .col
          img.rounded.avatar(src='images/avatar2.png', alt='Avatar 2')
          .name Linus Torvalds
          .title Registered user
          .location
            i.fas.fa-map-marker-alt
            |  Oregon
      .row.paper
        .col
          img.image(src='images/img3.jpg', alt='Image 3')
        .col-6
          .media-body
            h5.mt-0 Don't mess with me
            | Forth great fruit above, evening greater without their winged
            | whose fill dry waters signs, female made midst Morning isn't,
            | Air she'd divided there likeness one. Brought void greater is,
            | above herb of meat fish wherein you forth.
          .time
            i.far.fa-clock
            | 3 week ago
        .col
          img.rounded.avatar(src='images/avatar1.jpeg', alt='Avatar 3')
          .name Jason Bourne
          .title Registered user
          .location
            i.fas.fa-map-marker-alt
            |  New York
      .row.paper
        .col
          img.image(src='images/img4.jpg', alt='Image 1')
        .col-6
          .media-body
            h5.mt-0 Grandpa plays GTA
            | Evening the may herb tree years of one void give green herb sixth.
            | Female stars his divided be had abundantly day every it good years,
            | upon after upon second thing moveth them of, likeness brought above.
          .time
            i.far.fa-clock
            |  4 week ago
        .col
          img.rounded.avatar(src='images/avatar3.ico', alt='Avatar 1')
          .name Zlatan Ibrahimovic
          .title Moderator
          .location
            i.fas.fa-map-marker-alt
            |  Sweden
      .row.paper
        .col
          img.image(src='images/img5.jpg', alt='Image 1')
        .col-6
          .media-body
            h5.mt-0 Mannequin Challenge with a twist
            | Appear signs heaven have us form fish gathering beast fish, Man,
            | set morning which had make over above make isn't. After that.
            | Light fly, is place have his that whose gathered beginning the image,
            | two in two fowl behold darkness lights green years
          .time
            i.far.fa-clock
            |  5 week ago
        .col
          img.rounded.avatar(src='images/avatar4.ico', alt='Avatar 1')
          .name Mitsuha Miyamizu
          .title Moderator
          .location
            i.fas.fa-map-marker-alt
            |  Itomori
    nav(aria-label='...')
      ul.pagination
        li.page-item.disabled
          a.page-link(href='#', tabindex='-1') Previous
        li.page-item
          a.page-link(href='#') 1
        li.page-item.active
          a.page-link(href='#')
            | 2 
            span.sr-only (current)
        li.page-item
          a.page-link(href='#') 3
        li.page-item
          a.page-link(href='#') 4
        li.page-item
          a.page-link(href='#') 5
        li.page-item
          a.page-link(href='#') 6
        li.page-item
          a.page-link(href='#') 7
        li.page-item
          a.page-link(href='#') 8
        li.page-item
          a.page-link(href='#') Next
